@import materialize.scss

#test_results
  font-family: sans-serif
  font-size: 20px
  li.pass
    color: #56c648
  li.fail
    color: #be4343

#player_hands_container
  .player_hand
    display: inline-block
    margin: 10px
    padding: 10px

.inline-block
  display: inline-block

#player_cash
  padding: 10px
