@import materialize.scss

#test_results
  font-family: sans-serif
  font-size: 20px
  li.pass
    color: #56c648
  li.fail
    color: #be4343

.player_hand
  display: inline-block
  margin: 10px
  padding: 10px

.inline-block
  display: inline-block

#player_cash
  padding: 10px

.card_image
  height: 110px
  margin: 5px

.hand_score
  position: absolute
  top: -25px
  right: -25px
  z-index: 10
  display: inline-block
  border-radius: 50%
  color: #eee
  height: 50px
  width: 50px
  line-height: 50px
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
